* {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

body {
    background: black;
    margin: 0;
}

.bold {
    font-weight: 500;
}

.container {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 420px;
    background: white;
}

.post-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 10px;
}
.header-left{
    display: flex;
    flex-direction: row;
}
.post-icon {
    margin-right: 5px;
}
.title-column {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.body-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.post-body {
    padding: 10px 10px 30px 10px;
}
